html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(139, 134, 78) 0%, rgb(139, 134, 78) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #f2f4e3;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #68180f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin: 0 auto;
    max-width: 640px;
    padding: 2em 2em 2em;
}

h1, h2, h3, h4, h5, h6 {
    color: #9c2517;
    font-size: 22px;
    font-weight: 600;
    line-height: 0.9;
}

h2 {
    margin-top: 1em;
    font-size: 19px;
    font-weight:500;
}

a {
    color: #9c2517;
}
b{
    font-weight:900;
}
strong {
    font-weight: 550;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 0px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    display: block;
    margin: 0.1em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}